<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alunos</title>
</head>
<body>
  <form method="POST">
    Nome: <input required type="text" name="nome"><br>
    Sobrenome: <input required type="text" name="sobrenome"><br>
    E-mail: <input required type="email" name="email"><br>
    Ano de Matrícula: <input required type="number" name="ano_matricula"><br>
    <button type="submit">Enviar cadastro do aluno</button>
  </form>

  <pre>
    <%=JSON.stringify(alunos, null, 2)  %> 
  </pre>
</body>
</html>